/* styles.css */

/* Background image */
body {
  background-image: url(images/joel-vodell-8Ogfqvw15Rg-unsplash.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

/* Block space under fixed nav-bar */
#nav-reserve {
  padding-bottom: 56px;
}
