/* styles.css */

/* Background image */
body {
  background-image: url(images/backsplash.jpg); /* https://unsplash.com/photos/iphone-wallpaper-8Ogfqvw15Rg */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

/* Block space under fixed nav-bar */
#nav-reserve {
  padding-bottom: 56px;
}

/* Force cursor-pointer on contact "link" */
#contact-link {
  cursor: pointer;
}

.accordion-item,
.accordion-collapse,
.accordion-body {
  background-color: transparent !important;
}
