/* styles.css */

/* Background image */
body {
  background-image: url(images/backsplash.jpg); /* https://unsplash.com/photos/iphone-wallpaper-8Ogfqvw15Rg */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

/* Block space under fixed nav-bar */
#nav-reserve {
  padding-bottom: 56px;
}

/* Force cursor-pointer on contact "link" */
#contact-link {
  cursor: pointer;
}

/* Accordion transparency */
.accordion-item,
.accordion-collapse,
.accordion-body {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-color: transparent !important;
}

/* Custom card/accordion colorings */
.bg-title {
  background-color: #42454a !important;
  color: white !important;
}

.bg-skill {
  background-color: #4a9efe !important;
  color: white !important;
}

.bg-translucent {
  background-color: rgba(255, 255, 255, 0.3) !important;
}
